/* GENERAL ELEMS */
body{font-family: 'Open Sans', sans-serif; font-size: 16px; background: #274e6f; overflow-x: hidden; background: -moz-linear-gradient(left, #274e6f 0%, #a6469b 100%); background: -webkit-linear-gradient(left, #274e6f 0%,#a6469b 100%); background: linear-gradient(to right, #274e6f 0%,#a6469b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#274e6f', endColorstr='#a6469b',GradientType=1 );}
.page-container{overflow-y: scroll; height: 100vh;}
.wrap{width: 90%; max-width: 1200px; margin: 0 auto;}
button, input, select{font: inherit; color: inherit; background: none; border: none;}
button{cursor: pointer;}
section{background: #e9e9ed; padding: 40px 0;}
a{text-decoration: none; color: inherit;}

/* ALIGNMENT */
.clearfix:after{content: ""; display: table; clear: both;}
.fleft{float: left;}
.fright{float: right;}
.tcenter{text-align: center;}

/* TYPOGRAPHY */
strong, b{font-weight: 700;}
h2{font-family: 'aleo'; font-size: 50px; font-weight: 300; margin-bottom: 15px;}
h2 strong{font-weight: 400;}
h3{font-family: 'aleo';}
.subtitle{font-size: 22px; font-weight: 300; display: block;}
.section-title{font-size: 32px; font-weight: 300; color: #27272e; margin-bottom: 10px;}
.info-text{color: #bbbdcd; text-align: center;}
.info-text a{color: #aad122; text-decoration: underline;}

/* INPUTS */
form input, form textarea, form .btn{font-size: 18px; line-height: 22px; font-family: 'Open Sans', sans-serif; font-weight: 300; width: 100%; padding: 20px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}
form .btn{font-weight: 700;}
.textinput{color: #3a517d; border: 1px solid #c4c2ce; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s;}
.textinput:hover, .textinput:focus{border-color: #3a517d;}

/* SELECT BOXES */
.selectboxit-container *{font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px;}
.selectboxit-container .selectboxit.selectboxit-btn{color: #fff; background: rgba(255, 255, 255, 0.1); padding: 10px; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s;}
.selectboxit-default-arrow{width: 0; height: 0; border-top: 4px solid #c5c4d6; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.selectboxit-btn.selectboxit-enabled:hover, .selectboxit-btn.selectboxit-enabled.selectboxit-open{background-color: #aad122; color: #fff;}
.selectboxit-btn.selectboxit-enabled:hover .selectboxit-default-arrow, .selectboxit-btn.selectboxit-enabled.selectboxit-open .selectboxit-default-arrow{border-top-color: #2c2932; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s;}
.selectboxit-container .selectboxit-options.selectboxit-list{background-color: #fff; box-shadow: 0 0 6px rgba(41, 50, 71, 0.3); width: 100%; padding: 6px 0; margin-top: 10px;}
.selectboxit-list .selectboxit-option-anchor{color: #6f6a7e; font-size: 12px;}
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{background: #9e4ea2; font-weight: 700; color: #fff;}

.formselect{width: 100%; margin-top: 15px;}
.formselect .selectboxit-container{width: 100%;}
.formselect .selectboxit-container .selectboxit.selectboxit-btn{background: #fff; border: 1px solid #c4c2ce; color: #3a517d; padding: 15px; font-size: 16px;}
.formselect .selectboxit-btn.selectboxit-enabled:hover, .formselect.selectboxit-btn.selectboxit-enabled:focus{background: #fff; border-color: #3a517d;}

/* BUTTONS */
.btn{display: inline-block; text-decoration: none; cursor: pointer; background: none; text-transform: uppercase; color: #fff; font-size: 13px; padding: 12px; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.btn .fa{vertical-align: middle;}
.btn.btn-small{font-size: 13px; padding: 12px; line-height: 1em; width: auto;}
.btn-one{background: #aad122; color: #fff; font-weight: 700; border: 1px solid transparent;}
.btn-one:hover{color: #aad122; background: transparent; border-color: #aad122;}
.btn-two{border: 1px solid #fff;}
.btn-two:hover{background: #aad122; border-color: #aad122;}
.btn-three{font-weight: 700; color: #aad122; background: transparent; border: 1px solid #aad122;}
.btn-three:hover{background: #aad122; color: #fff; border-color: transparent;}
.btn-four{font-weight: 700; color: #c0392b; background: transparent; border: 1px solid #c0392b;}
.btn-four:hover{background: #c0392b; color: #fff; border-color: transparent;}

/* MODALS */
.remodal{padding: 40px; text-align: left; max-width: 500px;}
.remodal h2{color: #33385a; font-size: 40px; margin-bottom: 10px;}
.remodal form input, .remodal form textarea, .remodal form button{margin-top: 15px;}
.remodal .info-text{margin-top: 15px;}
.remodal-close{left: auto; right: 0; color: #dde0e7; height: 40px; width: 40px;}
.remodal-close:before{font-family: 'Open Sans', sans-serif; font-size: 40px; width: 40px; line-height: 40px;}
.remodal-overlay{background: rgba(25, 51, 73, 0.8);}
.remodal .two-btn{margin-top: 15px;}
.remodal .two-btn .single{width: 50%; display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.remodal .two-btn .single .btn{margin-top: 0;}
.remodal .two-btn .single:nth-of-type(odd){padding-right: 7.5px; margin-right: -2px;}
.remodal .two-btn .single:nth-of-type(even){padding-left: 7.5px; margin-left: -2px;}
.sweet-alert h2{margin: 15px 0; font-family: 'aleo';}
.sweet-alert button{margin-top: 0;}

/* ALERTS */
.alert{border: 2px solid transparent; padding: 20px; line-height: 1.3em; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}
.alert.success{background: rgba(46, 204, 113, 0.1); border-color: #27ae60; color: #27ae60;}
.alert.info{background: rgba(52, 152, 219, 0.1); border-color: #2980b9; color: #2980b9;}
.alert.error{background: rgba(231, 76, 60, 0.1); border-color: #c0392b; color: #c0392b;}
.alert a{text-decoration: underline;}

/* ITEM LIST */
.item-section{position: relative; min-height: 100px;}
.item-section .section-desc .section-select{margin-top: -10px; font-weight: 700; color: #9b489d;}
@media (min-width: 1601px){
	.item-section .section-desc{position: absolute; right: 100%; margin-right: 50px; width: 200px; text-align: right;}
}
@media (max-width: 1600px){
	.item-section .section-desc{margin: 50px 0 20px 0;}
	.item-section:first-of-type .section-desc{margin-top: 0;}
}
.item-list .item-container .item{background: #fff; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}
.item-list .item-container .item .content{color: #a0a2a9;}
.item-list .item-container .item .content .title{color: #383940; font-weight: 600;}
.item-list .item-container .item .content .author span{color: #894f9f;}
.item-list .item-container .item .content .price{color: #3a517d; font-weight: 300; font-size: 24px;}
.item-list .item-container .item .content .likes .fa{margin-right: 3px; cursor: pointer; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s;}
.item-list .item-container .item .content .likes .fa:hover{color: #914fa1;}

.search-item-list .item-container{width: 25%; margin-bottom: 20px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; float: left;}
.search-item-list .item-container:nth-of-type(4n+1){padding-right: 15px;}
.search-item-list .item-container:nth-of-type(4n+2){padding-left: 5px; padding-right: 10px;}
.search-item-list .item-container:nth-of-type(4n+3){padding-left: 10px; padding-right: 5px;}
.search-item-list .item-container:nth-of-type(4n+4){padding-left: 15px;}
.search-item-list .item-container .item .dots, .item-section .item-container .item .dots:before, .item-section .item-container .item .dots:after{background: #cbcbd4; width: 8px; height: 8px; display: inline-block; vertical-align: middle; border-radius: 99px; -moz-border-radius: 99px; -webkit-border-radius: 99px;}
.search-item-list .item-container .item .dots{position: relative; margin: 8px 20px;}
.search-item-list .item-container .item .dots:before, .item-section .item-container .item .dots:after{content: ''; position: absolute; top: 0;}
.search-item-list .item-container .item .dots:before{left: -10px;}
.search-item-list .item-container .item .dots:after{right: -10px;}
.search-item-list .item-container .item .min{display: block; width: 100%; height: 160px;}
.search-item-list .item-container .item .content{padding: 15px 20px 20px 20px;}
.search-item-list .item-container .item .content .title{margin-bottom: 5px; font-size: 14px;}
.search-item-list .item-container .item .content .author{margin-bottom: 5px; font-size: 12px;}
.search-item-list .item-container .item .content .bottom .price{float: left; margin-top: 7px;}
.search-item-list .item-container .item .content .bottom .likes, .item-list .item-container .item .content .bottom .btn{float: right;}
.search-item-list .item-container .item .content .bottom .likes{float: right; margin: 12px 10px 0 5px;}
.search-item-list .item-container .item .content .bottom .btn{padding: 11px 14px;}

.cart-item-list .item-container{width: 100%;}
.cart-item-list .item-container .item{position: relative; height: 100px; width: 100%;}
.cart-item-list .item-container .item .min{position: absolute; left: 0; top: 0; width: 100px; height: 100%; overflow: hidden;}
.cart-item-list .item-container .item .min img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);}
.cart-item-list .item-container .item .content{position: absolute; top: 50%; left: 120px; right: 50px; padding-right: 90px; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);}
.cart-item-list .item-container .item .title{font-size: 18px; margin-bottom: 6px;}
.cart-item-list .item-container .item .author, .cart-item-list .item-container .item .likes{display: inline-block; vertical-align: middle; font-size: 14px;}
.cart-item-list .item-container .item .likes{margin-left: 50px;}
.cart-item-list .item-container .item .content .likes .fa{color: #914fa1;}
.cart-item-list .item-container .item .price, .cart-item-list .item-container .item .remove{position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);}
.cart-item-list.item-list .item-container .item .price{right: 0px; font-size: 32px;}
.cart-item-list .item-container .item .remove{right: 15px;}
.cart-item-list .item-container .item .remove:before{content: "\00d7"; font-family: 'Open Sans', sans-serif; font-size: 40px; color: #95979c; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; cursor: pointer;}
.cart-item-list .item-container .item .remove:hover:before{color: #2b2e38;}

/* PLACEHOLDERS */
::-webkit-input-placeholder{font-style: italic; color: #a6a5b1;}
:-moz-placeholder{font-style: italic; color: #a6a5b1; opacity: 1;}
::-moz-placeholder{font-style: italic; color: #a6a5b1; opacity: 1;}
:-ms-input-placeholder{font-style: italic; color: #a6a5b1;}
:placeholder-shown {font-style: italic; color: #a6a5b1;}